/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

.nav {
	li {
		a {
			padding: 0.5em;
		}
	}
}
section#shows-content {
    .double-line-bullet {
    	background-repeat: no-repeat;
    	background-position: 0;
    }
}

section#merch-content {
	#merch-items {
		margin: 0 auto;
		display: block;
		ul {
			li {
				img {
					max-height: 240px;
				}
			}
		}
	}
}
