/******************************************************************
Site Name: 
Author: 

Stylesheet: Larger Style Sheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

section#about-content {
	.bullet-line-left {
	    width: 200px;
	    display: block;
	}
}