/* tour gigpress styles */

#shows {

	.responsive-content {
		padding-top: 100px;
	}
}
#shows-container {
	background: rgba(0,0,0,0.7);
	padding: 10px 25px;
	color: $white;
}

.shows-header {
	background: $black;
	// margin-top: 100px;
	h1 {
		margin: 0;
		text-align: center;

	}
}

.gigpress-artist-heading {
	display: none;
}

.gigpress-table, .gigpress-info {
	border-top: 0px !important;
	td {
		text-align: center;
	}
}

tr.gigpress-row {
	border-bottom: 1px solid #333232;
	&:first-child {
		border-top: 1px solid #333232;
	}
}
tr.gigpress-info td, tr.gigpress-row td {
	border-bottom: 0px;
	a {
		text-decoration: none;	
	}
}

tr.gigpress-info td {
	border-bottom: 0px solid #fff !important;
}

td.gigpress-date {
	text-align: left;
}
td.gigpress-venue {
	font-weight: bold;
	text-align: center !important;
}

td.ticket-link {
	text-align: right !important;
}

p.gigpress-subscribe {
	
}
.gigpress-calendar-add {
	margin-top: -45px;
}